# Dependency directories
node_modules

# Editor's config directories
.vscode
.idea
*.iml

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows related files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
